<section class="sidebar">
<div class="user-panel">
    <div class="pull-left image">
        <img src={{ agent.avatar }} class="img-circle" alt="User Image">
<!--        <img src="https://raw.githubusercontent.com/ekhurtado/I4_0_SMIA/main/images/I4_0_SMIA_logo_negative.png" class="img-circle" alt="User Image">-->
    </div>
    <div class="pull-left info">
        <p>{{ agent.agent_name }}</p>
        <a href="/spade"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
<ul class="sidebar-menu tree" data-widget="tree">
    <li>
        <a href="/spade"><i class="fa fa-id-card"></i> <span>Dashboard</span></a>
    </li>
    {% for title, entry in agent.web_menu_entries.items() %}
    <li class="{% if request.path == entry.url %}active{% endif %}">
        <a href="{{ entry.url }}"><i class="fa {{ entry.icon }}"></i> <span>{{ title }}</span></a>
    </li>
    {% endfor %}
</ul>
</section>