<a href="/spade" class="logo">
    <span class="logo-mini"><b>SPD</b></span>
    <span class="logo-lg"><b>SPADE</b></span>
</a>
<nav class="navbar navbar-static-top" role="navigation">
     <style>
        /* Use a media query to add a breakpoint at 800px: */
        @media (max-width: 800px) {
          .nav-item-responsive {
              padding-top: 10px;
              padding-bottom: 10px;
              line-height: 20px;
              width: min-content;
          }
        }
     </style>

    <!-- New from SPADE template: it is added the toggle button to expand or collapse the sidebar-->
    <!--  Feature from Admin LTE:  https://adminlte.io/themes/AdminLTE/documentation/index.html#components-->
    <ul class="nav navbar-nav navbar-left">
        <li class="nav-item-responsive">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </li>
        <!-- The main SMIA links are also added-->
        <li>
            <a style="width: min-content;" href="https://github.com/ekhurtado/SMIA/" target="_blank">
                <i class="fab fa-github"></i>
                <span class="sr-only">SMIA official GitHub</span>
            </a>
        </li>
        <li>
            <a style="width: min-content;" href="https://smia.readthedocs.io/en/latest/" target="_blank">
                <i class="fas fa-book"></i>
                <span class="sr-only">SMIA official ReadTheDocs</span>
            </a>
        </li>
        <li>
            <a style="width: min-content;" href="https://hub.docker.com/r/ekhurtado/smia/" target="_blank">
                <i class="fab fa-docker"></i>
                <span class="sr-only">SMIA official DockerHub</span>
            </a>
        </li>
        <li>
            <a style="width: min-content;" href="https://test.pypi.org/project/smia/" target="_blank">
                <i class="fab fa-python"></i>
                <span class="sr-only">SMIA official PyPI</span>
            </a>
        </li>
    </ul>

    <div class="navbar-custom-menu">

        <ul class="nav navbar-nav">

            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-success">{{ agent.traces.received().__len__() }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have {{ agent.traces.received().__len__() }} messages</li>
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    {% for date, msg in messages %}
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <!-- Message title -->
                                            <h4>
                                                <p>{{ msg.sender }}</p>
                                            </h4>
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="{{ agent.build_avatar_url(msg.sender) }}" class="img-circle" alt="User Image">
                                            </div>
                                            <!-- The message -->
                                            <p>{% filter escape %}{{ msg.body }}{% endfilter %}</p>
                                            <p><small class="pull-right">
                                                <i class="fa fa-clock-o"></i> {{ date }}
                                                </small>
                                            </p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    <!-- end message -->
                                </ul>
                                <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="/spade/messages/">See All Messages</a></li>
                        </ul>
                    </li>
            <!-- /.messages-menu -->

            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <a href="/spade" class="dropdown-toggle" data-toggle="dropdown">
                    <img src={{ agent.avatar }} class="user-image" alt="User Image">
<!--                    <img src="https://raw.githubusercontent.com/ekhurtado/I4_0_SMIA/main/images/I4_0_SMIA_logo_negative.png" class="user-image" alt="User Image">-->
                    <span class="hidden-xs">{{ agent.jid.localpart }}</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src={{ agent.avatar }} class="img-circle" alt="User Image">
<!--                        <img src="https://raw.githubusercontent.com/ekhurtado/I4_0_SMIA/main/images/I4_0_SMIA_logo_negative.png" class="img-circle" alt="User Image">-->
                        <p>{{ agent.jid }}</p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="/spade/stop" class="btn btn-default btn-flat">Stop</a>
                        </div>
                        {# <div class="pull-right">
                            <a href="#" class="btn btn-default btn-flat">Logout</a>
                        </div>#}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>