# In this file all the necessary libraries to be installed will be added.
# A specific version will be assigned to avoid unexpected errors.
# --------------------

# Related to HTTP server
Flask == 2.2.5
requests == 2.31.0

# Related to XML
lxml == 4.9.0

# Related to multi-agent system
spade == 3.3.3

# Related to AAS Manager-Core interactions (Kafka)
setuptools == 74.1.2
wheel == 0.44.0
aiokafka == 0.10.0

# Related to AAS model
basyx-python-sdk == 1.1.0

# Related to progress bar
tqdm == 4.67.1

# Related to OWL ontology
owlready2 == 0.47

# Related to asset connections
jsonpath-ng == 1.7.0
aiohttp == 3.10.5

# Related to agent services
psutil == 6.1.0

# Related to JSON-based objects
jsonschema == 4.22.0