# In this file all the necessary libraries to be installed will be added.
# A specific version will be assigned to avoid unexpected errors.
# --------------------

# Related to OPC UA
opcua == 0.98.13

# Related to AAS Manager-Core interactions
kafka-python-ng==2.2.2