<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AAS Library</title>
    <!-- Include CSS links -->
    {% include 'htmls/templates/spade_html_css_links.html' %}

    <style>
        /* Main container for tables */
        .table-container {
            margin: 20px 5px;
        }

        /* Main table */
        .table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .table th, .table td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
            color: #333;
        }

        .table tbody tr:hover {
            background-color: #f5f5f5;
        }

        .options-container {
            float: right;
            display: flex;
            gap: 10px;
        }

        .expandable {
            cursor: pointer; /* Make the cursor pointer for the expandable elements */
        }

        .expand-icon {
            /*cursor: pointer;*/
            color: #2d688a;
            float: right;
        }

        .expand-icon:hover {
            color: #3C8DBC;
        }

        .request-button {
            background-color: #7c8191;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .confirm-request-button {
            background-color: #008000;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .request-checkbox {
            display: none;
            float: right;
        }

        /* Subtables */
        .subtable {
            display: none;
            margin-left: 2px;
            margin-top: 10px;
        }

        .subtable .table {
            width: 98%;
            margin-bottom: 10px;
            border-collapse: collapse;
            background-color: #fff;
            border: 1px solid #ccc;
            margin-left: 2px;
        }

        .subtable th, .subtable td {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }

        .subtable th {
            background-color: #e6e6e6;
            color: #333;
        }

        .subtable tbody tr:hover {
            background-color: #f9f9f9;
        }

        /* Style for nested tables */
        .table .table {
            background-color: #fafafa;
            border: 1px solid #e0e0e0;
        }

        .table .table th {
            background-color: #eaeaea;
        }

        .table .table tbody tr:hover {
            background-color: #f1f1f1;
        }

        .information-table {
            width: 100%;
            margin-bottom: 10px;
            border-collapse: collapse;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .information-table i {
            margin-left: 5px;
            margin-right: 10px;
        }

        /* Style for expand/collapse icons */
        .glyphicon {
            font-size: 14px;
        }

        .glyphicon-chevron-down:before {
            content: "\e114";  /* Unicode for chevron down */
        }

        .glyphicon-chevron-up:before {
            content: "\e113";  /* Unicode for chevron up */
        }


    </style>

</head>
<body class="sidebar-mini skin-blue">
    <div class="wrapper">
        <header class="main-header">
            {% include 'htmls/templates/spade_html_header.html' %}
        </header>
        <aside class="main-sidebar">
            {% include 'htmls/templates/spade_html_aside.html' %}
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>AAS Library</h1>
                <ol class="breadcrumb">
                    <li><a href="/spade"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">AAS Library</li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Available AASs</h3>
                            </div>

                            <div class="table-container">
                                <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>AAS Files</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-file-id="file1">
                                        <td class="expandable">
                                            <span class="expandable">file1.aasx</span>
                                            <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                        </td>
                                    </tr>
                                    <tr class="subtable file1">
                                        <td>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Capabilities</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-capability-id="capability1">
                                                        <td class="expandable">
                                                            Capability 1
                                                            <div class="options-container">
                                                                <button class="btn btn-sm btn-primary request-button">Request</button>
                                                                <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr class="subtable capability1">
                                                        <td>
                                                            <table class="information-table table-bordered">
                                                                <tbody>
                                                                    <tr>
                                                                        <td><i>Name:</i> Capability 1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i>Type:</i> AssetCapability</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i>Properties:</i> prop1, prop2, prop3</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i>Constraints:</i> constraint1, constraint2, constraint3</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Skills</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-skill-id="skill1">
                                                                        <td class="expandable">
                                                                            <div>
                                                                                Skill A
                                                                                <input type="checkbox"
                                                                                       class="request-checkbox">
                                                                            </div>
                                                                            <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="subtable skill1">
                                                                        <td>
                                                                            <table class="information-table table-bordered">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td><i>Name:</i> Skill A</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>Type:</i> Operation</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>Parameters:</i>
                                                                                            <ul>
                                                                                                <li param-name="param1" class="input-skill-parameter">Param1 [IN]</li>
                                                                                                <li>Param2 [OUT]</li>
                                                                                                <li>Param3 [OUT]</li>
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>StateMachine:</i> [state1, state2, state3]</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><strong>SkillInterfaces</strong> </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="table table-bordered">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Interface Name</th>
                                                                                        <th>Protocol</th>
                                                                                        <th>Endpoint</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr data-skill-interface-id="skillinterfaceX">
                                                                                        <td>Interface X</td>
                                                                                        <td>HTTP</td>
                                                                                        <td>endpoint1.com</td>
                                                                                    </tr>
                                                                                    <tr data-skill-interface-id="skillinterfaceY">
                                                                                        <td>Interface Y</td>
                                                                                        <td>MQTT</td>
                                                                                        <td>endpoint2.com</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr data-skill-id="skill2">
                                                                        <td class="expandable">
                                                                            Skill B
                                                                            <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="subtable skill2">
                                                                        <td>
                                                                            <table class="information-table table-bordered">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td><i>Name:</i> Skill B</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>Type:</i> Operation</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>Parameters:</i>
                                                                                            <ul>
                                                                                                <li param-name="param1" class="input-skill-parameter">Param1 [IN]</li>
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>StateMachine:</i> [state1, state2, state3]</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><strong>SkillInterfaces</strong> </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="table table-bordered">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Interface Type</th>
                                                                                        <th>Protocol</th>
                                                                                        <th>Endpoint</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr data-skill-interface-id="skillinterfaceZ">
                                                                                        <td>Interface Z</td>
                                                                                        <td>CoAP</td>
                                                                                        <td>endpoint3.com</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr data-capability-id="capability2">
                                                        <td class="expandable">
                                                            Capability 2
                                                            <div class="options-container">
                                                                <button class="btn btn-sm btn-primary request-button">Request</button>
                                                                <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="subtable capability2">
                                                        <td>
                                                            <table class="information-table table-bordered">
                                                                <tbody>
                                                                    <tr>
                                                                        <td><i>Name:</i> Capability 2</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i>Type:</i> AgentCapability</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><i>Properties:</i> prop1</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Skills</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-skill-id="skill3">
                                                                        <td class="expandable">
                                                                            Skill C
                                                                            <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="subtable skill3">
                                                                        <td>
                                                                            <table class="information-table table-bordered">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td><i>Name:</i> Skill C</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>Type:</i> Operation</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>Parameters:</i>
                                                                                            <ul>
                                                                                                <li>Param1 [OUT]</li>
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>StateMachine:</i> [state1, state2]</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><strong>SkillInterfaces</strong> </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="table table-bordered">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Interface Type</th>
                                                                                        <th>Protocol</th>
                                                                                        <th>Endpoint</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>Interface W</td>
                                                                                        <td>HTTP</td>
                                                                                        <td>endpoint4.com</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr data-file-id="file2">
                                        <td class="expandable">
                                            file2.xml
                                            <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                        </td>
                                    </tr>
                                    <tr class="subtable file2">
                                        <td>
                                            <table class="information-table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td><i>Name:</i> Capability 3</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i>Type:</i> AssetCapability</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Capabilities</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-capability-id="capability3">
                                                        <td class="expandable">
                                                            Capability 3
                                                            <div class="options-container">
                                                                <button class="btn btn-sm btn-primary request-button">Request</button>
                                                                <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="subtable capability3">
                                                        <td>
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Skills</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-skill-id="skill4">
                                                                        <td class="expandable">
                                                                            Skill D
                                                                            <span class="glyphicon glyphicon-chevron-down expand-icon"></span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="subtable skill4">
                                                                        <td>
                                                                            <table class="information-table table-bordered">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td><i>Name:</i> Skill D</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>Type:</i> Operation</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><i>Parameters:</i>
                                                                                            <ul>
                                                                                                <li param-name="paramW" class="input-skill-parameter">ParamW [IN]</li>
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><strong>SkillInterfaces</strong> </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="table table-bordered">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Interface Type</th>
                                                                                        <th>Protocol</th>
                                                                                        <th>Endpoint</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>Interface V</td>
                                                                                        <td>HTTP</td>
                                                                                        <td>endpoint5.com</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Interface U</td>
                                                                                        <td>MQTT</td>
                                                                                        <td>endpoint6.com</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/js/adminlte.min.js" integrity="sha256-M/+/xbAPBtc0W7JWnReOYF+oPZq4OiOUrlP9qbv7w64=" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const expandIcons = document.querySelectorAll('.expandable');

            expandIcons.forEach(icon => {
                icon.addEventListener('click', function() {

                    // Prevent expansion if the click is on the request button
                    if ((!event.target.classList.contains('request-button')) && (!event.target.classList.contains('confirm-request-button')) &&
                        (!event.target.classList.contains('request-checkbox'))) {

                        const parentRow = this.closest('tr');
                        const subtableClass = parentRow.getAttribute('data-file-id') || parentRow.getAttribute('data-capability-id') || parentRow.getAttribute('data-skill-id');
                        const subtableRows = document.querySelectorAll(`.subtable.${subtableClass}`);

                        subtableRows.forEach(row => {
                            row.style.display = row.style.display === 'none' || row.style.display === '' ? 'table-row' : 'none';
                        });

                        const icon = this.querySelector('.expand-icon');
                        icon.classList.toggle('glyphicon-chevron-down');
                        icon.classList.toggle('glyphicon-chevron-up');
                    }
                });
            });

            const requestButtons = document.querySelectorAll('.request-button');
            requestButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    const parentRow = this.closest('tr');
                    const subtableClass = parentRow.getAttribute('data-capability-id');
                    const subtableRows = document.querySelectorAll(`.subtable.${subtableClass} tr[data-skill-id], .subtable.${subtableClass} tr[data-skill-interface-id]`);
                    const subtables = document.querySelectorAll(`.subtable.${subtableClass}`);

                    if (this.textContent === 'Request') {
                        this.textContent = 'Confirm selection';
                        this.classList.remove('request-button');
                        this.classList.add('confirm-request-button');

                        // Checkboxes to select skills and skill interfaces are added
                        subtableRows.forEach(row => {
                            const newCell = document.createElement('td')
                            const checkbox = document.createElement('input');
                            checkbox.type = 'checkbox';
                            newCell.append(checkbox);
                            row.appendChild(newCell);
                        });

                        // Since checkboxes are added as new columns withint the subtables, a new header need to be added
                        subtables.forEach(table => {
                            const parentTables = table.querySelectorAll('table');
                            parentTables.forEach(subtable => {
                                if (!subtable.classList.contains('information-table')) {    // avoid information tables
                                    const parentHeader = subtable.querySelector('thead');
                                    const parentHeaderTr = parentHeader.querySelector('tr');
                                    const headerCell = document.createElement('th');
                                    parentHeaderTr.appendChild(headerCell);
                                } else {
                                    // For each skill input parameter, it is necessary to create an input text that
                                    // allows to add the values of the parameters
                                    const inputParameters = subtable.querySelectorAll('.input-skill-parameter')
                                    inputParameters.forEach(param => {
                                        const newInputText = document.createElement('input');
                                        newInputText.type = 'text';
                                        newInputText.style.marginLeft = '10px';
                                        newInputText.placeholder = 'Add parameter value';
                                        param.append(newInputText);
                                    });
                                }
                            });
                        });

                    } else if (this.textContent === 'Confirm selection') {

                        console.log("Clicked on confirm request");
                        // TODO HACER AHORA: comprobar que solo se recoja uno de cada y recoger los IDs de skill y skill interface

                        let capabilityInfo = {'name': subtableClass};
                        subtableRows.forEach(row => {
                            const checkboxes = row.querySelectorAll('input[type="checkbox"]:checked');
                            checkboxes.forEach(checkbox => {
                                if (row.hasAttribute('data-skill-id')) {
                                    const skillID = row.getAttribute('data-skill-id');
                                    const skillInfo = {'name': skillID};
                                    capabilityInfo['skill'] = skillInfo;

                                    // Now the values of the parameter are obtained
                                    const inputParameters = row.nextElementSibling.querySelectorAll('.input-skill-parameter');
                                    console.log(inputParameters);
                                    if (inputParameters.length !== 0) {
                                        capabilityInfo.skill['parameters'] = [];
                                        inputParameters.forEach(param => {
                                            const inputElem = param.querySelector('input[type="text"]');
                                            const paramName = param.getAttribute('param-name');
                                            capabilityInfo.skill.parameters.push({
                                                'name': param.getAttribute('param-name'), 'value': inputElem.value});
                                        });
                                    }

                                } else if (row.hasAttribute('data-skill-interface-id')) {
                                    const skillInterfaceID = row.getAttribute('data-skill-interface-id');
                                    const subtableElem = row.closest('.subtable');
                                    const parentSkillElem = subtableElem.previousElementSibling;
                                    if (capabilityInfo.skill.name === parentSkillElem.getAttribute('data-skill-id')) {
                                        // Only if the interface is of the selected skill is added
                                        capabilityInfo.skill['interface'] = {'name': skillInterfaceID};
                                    }
                                }
                            });
                        });

                        // When all information have been obtained, the capability is requested to the agent controller
                        requestCapability(capabilityInfo);
                    }
                });
            });
        });
    </script>
    <script>
        function requestCapability(capabilityInfo) {

            // Create the confirmation message
            let confirmationMessage = `Capability: ${capabilityInfo.name}\n\n`;
            if (capabilityInfo.hasOwnProperty('skill')) {
                // Check all parameters in the skill
                if (!checkInputParameters(capabilityInfo.skill)) {
                    // If not all parameters are valid, exit the function
                    alert("Please provide values for all required parameters.");
                    return;
                }

                confirmationMessage += `Skill: ${capabilityInfo.skill.name}\n`;
                if (capabilityInfo.skill.hasOwnProperty('parameters')) {
                    capabilityInfo.skill.parameters.forEach(param => {
                        confirmationMessage += `  + Parameter: ${param.name} = ${param.value}\n`;
                    });
                }
                if (capabilityInfo.skill.hasOwnProperty('interface')) {
                    confirmationMessage += `\nSkill Interface: ${capabilityInfo.skill.interface.name}\n`;
                }
            }

            // TODO FALTA ENVIAR LOS DATOS POR HTTP
            if (confirm(`Please confirm the following capability request:\n\n${confirmationMessage}`)) {
                // Send the data via POST HTTP call if confirmed
                fetch('/capability_request', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(capabilityInfo)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    alert('Data has been sent successfully.');
                    location.reload();  // The web page is reloaded in order to remove all checkboxes and selections
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('An error occurred while sending data.');
                });
            }

        }

        // Function to check if all input parameters have values
        function checkInputParameters(skill) {
            let allValid = true;
            if (!skill.hasOwnProperty('parameters')) {
                return true;    // It may not have parameters
            }
            skill.parameters.forEach(param => {
                if (!param.value) {
                    const userInput = prompt(`Please enter a value for the parameter "${param.name}" in skill "${skill.name}":`);
                    if (userInput) {
                        param.value = userInput;
                    } else {
                        allValid = false;
                    }
                }
            });
            return allValid;
        }

    </script>
</body>
</html>
