<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AAS Library</title>
    <!-- Include CSS links -->
    {% include 'htmls/templates/spade_html_css_links.html' %}

    <style>
        .form-section {
            padding: 20px;
            background: #f7f7f7;
            border: 1px solid #ddd;
            margin-bottom: 20px;
        }
        .form-section h3 {
            margin-top: 0;
        }
        .table-container {
            margin-top: 20px;
        }

        .tree2 ul {
            padding-left: 1em;
            list-style: none;
        }

        .tree2 ul ul {
            padding-left: 1em;
            border-left: 1px solid #ccc;
        }

        .tree2 li {
            margin: 0.5em 0;
            padding-left: 1em;
            position: relative;
        }

        .tree2 li:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 50%;
            width: 1em;
            height: 1em;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }

        .tree2 li:last-child:before {
            border-left: 1px solid #ccc;
            border-bottom: none;
        }

        .tree2 label {
            cursor: pointer;
        }

        .tree2 input {
            display: none;
        }

        .tree2 input + ul {
            display: none;
        }

        .tree2 input:checked + ul {
            display: block;
        }
    </style>

</head>
<body class="sidebar-mini skin-blue">
    <div class="wrapper">
        <header class="main-header">
            {% include 'htmls/templates/spade_html_header.html' %}
        </header>
        <aside class="main-sidebar">
            {% include 'htmls/templates/spade_html_aside.html' %}
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>AAS Library</h1>
                <ol class="breadcrumb">
                    <li><a href="/spade"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">AAS Library</li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Available AASs</h3>
                            </div>
<!--                            <div class="table-container">-->
<!--                                <table class="table table-striped">-->
<!--                                    <thead>-->
<!--                                        <tr>-->
<!--                                            <th>AAS Name</th>-->
<!--                                            <th>AAS Services</th>-->
<!--                                            <th>Service Data</th>-->
<!--                                        </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>AAS1</td>-->
<!--                                            <td>Service1</td>-->
<!--                                            <td>Data1</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>AAS2</td>-->
<!--                                            <td>Service2</td>-->
<!--                                            <td>Data2</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>AAS3</td>-->
<!--                                            <td>Service3</td>-->
<!--                                            <td>Data3</td>-->
<!--                                        </tr>-->
<!--                                        &lt;!&ndash; Add more rows as needed &ndash;&gt;-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->


                            <div class="tree2">
                                <ul>
                                    <li>
                                        <label for="file1">file1.json</label>
                                        <input type="checkbox" id="file1">
                                        <ul>
                                            <li>
                                                <label for="capability1">Capability 1</label>
                                                <input type="checkbox" id="capability1">
                                                <ul>
                                                    <li>
                                                        <label for="skill1">Skill A</label>
                                                        <input type="checkbox" id="skill1">
                                                        <ul>
                                                            <li>
                                                                <span>Interface X</span> - <span>HTTP</span> - <span>endpoint1.com</span>
                                                            </li>
                                                            <li>
                                                                <span>Interface Y</span> - <span>MQTT</span> - <span>endpoint2.com</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <label for="skill2">Skill B</label>
                                                        <input type="checkbox" id="skill2">
                                                        <ul>
                                                            <li>
                                                                <span>Interface Z</span> - <span>CoAP</span> - <span>endpoint3.com</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <label for="capability2">Capability 2</label>
                                                <input type="checkbox" id="capability2">
                                                <ul>
                                                    <li>
                                                        <label for="skill3">Skill C</label>
                                                        <input type="checkbox" id="skill3">
                                                        <ul>
                                                            <li>
                                                                <span>Interface W</span> - <span>HTTP</span> - <span>endpoint4.com</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <label for="file2">file2.xml</label>
                                        <input type="checkbox" id="file2">
                                        <ul>
                                            <li>
                                                <label for="capability3">Capability 3</label>
                                                <input type="checkbox" id="capability3">
                                                <ul>
                                                    <li>
                                                        <label for="skill4">Skill D</label>
                                                        <input type="checkbox" id="skill4">
                                                        <ul>
                                                            <li>
                                                                <span>Interface V</span> - <span>HTTP</span> - <span>endpoint5.com</span>
                                                            </li>
                                                            <li>
                                                                <span>Interface U</span> - <span>MQTT</span> - <span>endpoint6.com</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <label for="file3">file3.txt</label>
                                        <input type="checkbox" id="file3">
                                        <ul>
                                            <li>
                                                <label for="capability4">Capability 4</label>
                                                <input type="checkbox" id="capability4">
                                                <ul>
                                                    <li>
                                                        <label for="skill5">Skill E</label>
                                                        <input type="checkbox" id="skill5">
                                                        <ul>
                                                            <li>
                                                                <span>Interface T</span> - <span>HTTP</span> - <span>endpoint7.com</span>
                                                            </li>
                                                            <li>
                                                                <span>Interface S</span> - <span>MQTT</span> - <span>endpoint8.com</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <label for="skill6">Skill F</label>
                                                        <input type="checkbox" id="skill6">
                                                        <ul>
                                                            <li>
                                                                <span>Interface R</span> - <span>CoAP</span> - <span>endpoint9.com</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/js/adminlte.min.js" integrity="sha256-M/+/xbAPBtc0W7JWnReOYF+oPZq4OiOUrlP9qbv7w64=" crossorigin="anonymous"></script>

</body>
</html>
