sphinx_rtd_theme==2.0.0
spade==3.3.3
Flask==2.2.5
requests==2.31.0
furo==2024.8.6
sphinx-inline-tabs==2023.4.21
sphinx-copybutton==0.5.2
sphinx-notfound-page==1.0.4
sphinx_design==0.6.1
sphinxembeddedvideos==1.1.0.dev20190210
sphinx-new-tab-link==0.6.1
aiokafka==0.10.0
basyx-python-sdk==1.0.0
tdqm==0.0.1
jsonpath-ng==1.7.0
psutil==6.1.0
owlready2==0.47