<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMIA Operator</title>
    <!-- Include SPADE CSS links -->
    {% include 'htmls/templates/spade_html_css_links.html' %}
    <style>

        .box-primary {
            padding-bottom: 5px;
        }

        .box-primary h2 {
            margin-left: 10px;
        }

        .inner h1, .inner h2, .inner h3 {
            /*Code to break lines long sentences in inner (used in small boxes)*/
            word-wrap: break-word;
            word-break: break-all;
            overflow-wrap: break-word;
            white-space: normal;
        }

        /*Add your own CSS style code*/
        .href-button {
            margin-top: 10px;
            background-color: #3C8DBC;
            color: white !important;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 16px;
            text-transform: uppercase;
        }

        .href-button:hover {
            background-color: #2d688a;
        }

        .content-div {
            border-bottom: 1px solid #f4f4f4;
            margin-bottom: 5px;
        }

        /* Summary Panel */
        .summary-table {
            width: 60%;
            margin: auto;
            border-collapse: separate;
            border-spacing: 0 8px; /* Adds vertical spacing between rows */
            table-layout: fixed; /* Ensures the specified column widths are respected */
        }

        .summary-table th,
        .summary-table td {
            padding: 12px 15px;
        }

        .summary-table th {
            background-color: #337ab7;
            color: #fff;
            font-weight: 600;
            text-align: right;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            width: 30%;
        }

        .summary-table td {
            background-color: #f9f9f9;
            color: #333;
            text-align: left;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            width: 70%;
        }

        .summary-table tr:hover td {
            background-color: #e6f7ff;
        }

        /* Progress Bar */
        .progress {
            width: 50%;
            border-radius: 5px;
            margin: 20px auto;
        }

        /* Timeline panel */
        .timeline-item {
            background: #f9f9f9 !important;
        }

        .timeline li:last-child  {
            margin-bottom: 50px;
        }

        .timeline-header {
            font-weight: 600;
            color: #0073b7 !important;
        }

        .timeline-body ul li span,
        .timeline-body span{
            font-weight: bold;
        }

        .div-footer {
            display: flex;
            float: right;
        }

    </style>
</head>
<body class="sidebar-mini skin-blue" style="height: auto; min-height: 100%;" onload="simulateProgress()">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <header class="main-header">
            {% include 'htmls/templates/spade_html_header.html' %}
        </header>
        <aside class="main-sidebar">
            {% include 'htmls/templates/spade_html_aside.html' %}
        </aside>
        <div class="content-wrapper" style="min-height: 960px;">
            <section class="content-header">
                <h1>SMIA Operator GUI</h1>
                <ol class="breadcrumb">
                    <li><a href="/spade"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">SMIA operator</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Example of row with only one box-->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">SMIA CSS-related request information</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="content-div">
                                    <h3>Request process summary</h3>
                                    <table class="table summary-table">
                                      <tbody>
                                        <tr>
                                          <th>Status:</th>
                                          <td>{{ agent.request_exec_info.Status }}</td>
<!--                                          <td>Completed</td>-->
                                        </tr>
                                        <tr>
                                          <th>Start Time:</th>
                                          <td>{{ agent.request_exec_info.StartTime }}</td>
<!--                                          <td>2025-02-14 12:00:00</td>-->
                                        </tr>
                                        <tr>
                                          <th>End Time:</th>
                                          <td>{{ agent.request_exec_info.EndTime }}</td>
<!--                                          <td>2025-02-14 12:05:00</td>-->
                                        </tr>
                                        <tr>
                                          <th>Duration (s):</th>
                                          <td>{{ agent.request_exec_info.Duration }}</td>
<!--                                          <td>5 minutes</td>-->
                                        </tr>
                                        <tr>
                                          <th>SMIAs interactions:</th>
                                          <td>{{ agent.request_exec_info.Interactions }}</td>
<!--                                          <td>Success</td>-->
                                        </tr>
                                      </tbody>
                                    </table>

                                    <div class="progress">
                                      <div id="progressBar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                           aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        90%
                                      </div>
                                    </div>
                                </div>

                                <div class="content-div">
                                    <h3>Request process timeline</h3>
<!--                                        The timeline is a feature of AdminLTE 2-->
                                    <ul class="timeline">
                                        <!-- timeline time label -->
                                        <li class="time-label">
                                            <span class="bg-blue">
                                                CSS-related request
                                            </span>
                                        </li>
                                        <!-- /.timeline-label -->
                                        {% for interaction_info in agent.request_exec_info['InteractionsDict'] %}
                                        <!-- timeline item -->
                                        <li>
                                        {% if interaction_info['type'] == 'analysis' %}
                                            <!-- timeline icon -->
                                            <i class="fa fa-project-diagram bg-orange"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header">{{ interaction_info['title'] }}</h3>
                                                <div class="timeline-body">
                                                    The selection made is:
                                                    <ul>
                                                        <li><span>Capability:</span> {{ interaction_info['capability'] }}</li>
                                                        {% if interaction_info['constraints'] is not none %}
                                                        <li><span>Capability</span> constraints: {{ interaction_info['constraints'] }}</li>
                                                        {% endif %}
                                                        <li><span>Skill:</span> {{ interaction_info['skill'] }}</li>
                                                        <li>
                                                            The SMIA(s) selected:
                                                            <ul>
                                                                {% for id in interaction_info['smia_ids'] %}
                                                                <li>{{ id }}</li>
    <!--                                                            <li>transportrobot2</li>-->
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% elif interaction_info['type'] == 'acl_send' %}
                                            <!-- timeline icon -->
                                            <i class="fa fa-comment bg-blue"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header">{{ interaction_info['title'] }}</h3>
                                                <div class="timeline-body">
                                                    {{ interaction_info['message'] }}
                                                </div>
                                            </div>
                                        {% elif interaction_info['type'] == 'acl_recv' %}
                                            <!-- timeline icon -->
                                            <i class="fa fa-comments bg-green"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header">{{ interaction_info['title'] }}</h3>
                                                <div class="timeline-body">
                                                    {% if interaction_info['response_type'] == 'failure' %}
                                                    <div class="alert alert-warning alert-dismissible">
                                                        <h4><i class="icon fa fa-warning"></i>{{ interaction_info['response_title'] }}</h4>
                                                        <span>Reason:</span> {{ interaction_info['response_msg'] }}
                                                    </div>
                                                    {% elif interaction_info['response_type'] == 'success' %}
                                                    <div class="alert alert-success alert-dismissible">
                                                        <h4><i class="icon fa fa-check"></i>{{ interaction_info['response_title'] }}</h4>
                                                        <span>Response:</span> {{ interaction_info['response_msg'] }}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% elif interaction_info['type'] == 'exception' %}
                                            <!-- timeline icon -->
                                            <i class="fa fa-warning bg-red"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header">{{ interaction_info['title'] }}</h3>
                                                <div class="timeline-body">
                                                    <span>Reason:</span> {{ interaction_info['message'] }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        </li>
                                        <!-- END timeline item -->
                                        {% endfor %}


<!--                                        &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            &lt;!&ndash; timeline icon &ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class="fa fa-exclamation bg-red"></i>&ndash;&gt;-->
<!--                                            <i class="fa fa-warning bg-red"></i>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <h3 class="timeline-header">Analyzing operator selection ...</h3>-->
<!--                                                <div class="timeline-body">-->
<!--                                                    The selection made is:-->
<!--                                                    <ul>-->
<!--                                                        <li>Capability: cap1</li>-->
<!--                                                        <li>Capability constraints: weight</li>-->
<!--                                                        <li>Skill: skill1</li>-->
<!--                                                        <li>-->
<!--                                                            The SMIA(s) selected:-->
<!--                                                            <ul>-->
<!--                                                                <li>transportrobot1</li>-->
<!--                                                                <li>transportrobot2</li>-->
<!--                                                            </ul>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                                        &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            &lt;!&ndash; timeline icon &ndash;&gt;-->
<!--                                            <i class="fa fa-comment bg-blue"></i>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <h3 class="timeline-header">Requested negotiation betweeen selected SMIAs ...</h3>-->
<!--                                                <div class="timeline-body">-->
<!--                                                    The SMIAs [transportrobot1, transportrobot2] has been requeste to negotiate between them to obtain the best option.-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                                        &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            &lt;!&ndash; timeline icon &ndash;&gt;-->
<!--                                            <i class="fa fa-comments bg-green"></i>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <h3 class="timeline-header">Obtained negotiation winner ...</h3>-->
<!--                                                <div class="timeline-body">-->
<!--                                                    The winner of the negotiation is SMIA with ID transportrobot01.-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                                        &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            &lt;!&ndash; timeline icon &ndash;&gt;-->
<!--                                            <i class="fa fa-comment bg-blue"></i>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <h3 class="timeline-header">Requested CSS execution to the winner ...</h3>-->
<!--                                                <div class="timeline-body">-->
<!--                                                    The SMIA with ID transportrobot01 has been requested to execute the capability cap1.-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                                        &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                                        <li>-->
<!--                                            &lt;!&ndash; timeline icon &ndash;&gt;-->
<!--                                            <i class="fa fa-comments bg-green"></i>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <h3 class="timeline-header">Obtained CSS execution result ...</h3>-->
<!--                                                <div class="timeline-body">-->
<!--                                                    ...-->
<!--                                                    Pongamos que devuelve failure-->
<!--                                                    <div class="alert alert-warning alert-dismissible">-->
<!--                                                        <h4><i class="icon fa fa-warning"></i> SMIA was requested but the CSS-related execution failed!</h4>-->
<!--                                                        Reason: The request has not been correctly executed.-->
<!--                                                    </div>-->
<!--                                                    Pongamos que devuelve bien-->
<!--                                                    <div class="alert alert-success alert-dismissible">-->
<!--                                                        <h4><i class="icon fa fa-check"></i> SMIA successfully  executed the CSS-related request!</h4>-->
<!--                                                        Response: success "OK"-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                                        <li>-->
<!--                                          <i class="fa fa-clock-o bg-gray"></i>-->
<!--                                        </li>-->
                                    </ul>
                                </div>

                                <div class="div-footer">
                                    <button class="btn btn-custom href-button" onclick="window.location.href='/smia_operator'">Back to dashboard</button>
                                </div>

                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- ./row -->


            </section>
            <!-- /.content -->
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.2.1
            </div>
            <strong>Copyright © {% now 'local', '%Y' %} <a href="https://github.com/ekhurtado/I4_0_SMIA">SMIA</a>.</strong>
        </footer>

    </div>
    <!-- Include SPADE scripts -->
    {% include 'htmls/templates/spade_html_scripts.html' %}

    <script>
        function simulateProgress() {
            let progressBar = document.getElementById("progressBar");
            let progress = progressBar.getAttribute("aria-valuenow");

            let interval = setInterval(function () {
                if (progress >= 100) {
                    clearInterval(interval); // Stop when reaching 100%
                } else {
                    progress++;
                    progressBar.style.width = progress + "%";
                    progressBar.setAttribute("aria-valuenow", progress);
                    progressBar.textContent = progress + "%";
                }
            }, 200); // Update every 200ms
        }
    </script>

</body>
</html>